[class*="entypo-"]:before {
  font-family: "entypo", sans-serif;
}
[class*="fontawesome-"]:before {
  font-family: "FontAwesome", sans-serif;
}
.wrapper {
  width: 600px;
  height: 480px;
  margin: 5% auto;
  background-color: #1f222a;
  border-radius: 7px;
  display: none;
}
body {
  color: #eee;
  font-family: "Open Sans", sans-serif;
  background-color: #000;
}
body.isok {
  background-color: #e0e1e3;
  transition: background 0.5s ease;
}
section {
  height: 100%;
  box-sizing: border-box;
  max-width: 480px;
  padding: 10px 30px;
  float: left;
  position: relative;
  background-color: #1f222a;
  border-radius: 7px;
  overflow: hidden;
}
section.bordure {
  width: 120px;
  height: 100%;
  float: left;
  background-color: #373b46;
  border-radius: 7px;
}
section.bordure p {
  bottom: 0;
  color: #eee;
  font-size: 2.2em;
  font-weight: 700;
  line-height: 55px;
  position: absolute;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  transform: rotate(-90deg);
  transform-origin: 0 0 0;
  transition: font-size 0.2s ease 0s;
}
section.bordure p:hover {
  font-size: 2.6em;
}
section.contenu h1 {
  width: 400px;
  padding: 20px 0 35px;
  position: relative;
  font-size: 1.5em;
  border-bottom: 2px solid #4b4e57;
}
section.contenu h1 a.lk {
  width: 50px;
  height: 0;
  position: absolute;
  top: 10px;
  right: 0;
  display: block;
  overflow: hidden;
  padding-top: 50px;
  background: url(../images/gps_off.jpg) no-repeat center center;
  text-decoration: none;
  background-color: #000;
  border-radius: 3px;
  transition: color 0.5s;
}
section.contenu h1 a.lk:hover {
  background-image: url(../images/gps_on.jpg);
}
section.contenu .numero_jour {
  text-align: right;
  margin-top: 10px;
  font-style: italic;
}
section.contenu .temperature {
  padding: 40px 0;
  color: #3d414c;
  font-size: 5em;
  transition: color 0.5s ease;
}
section.contenu .temperature:hover {
  color: #ff0;
}
section.contenu .temperature.entypo-cloud:hover {
  color: #c6c6c4;
}
section.contenu .temperature.entypo-water:hover {
  color: #377ece;
}
section.contenu .temperature.entypo-air:hover {
  color: #c68ace;
}
section.contenu .temperature.entypo-cloud:hover,
section.contenu .temperature.entypo-help:hover,
section.contenu .temperature.entypo-moon:hover {
  color: #fff;
}
section.contenu .temperature h2 {
  display: inline;
  color: #eee;
  font-weight: 300;
}
section.contenu .temperature h2 span.degree-symbol {
  display: inline-block;
  margin: 0 15px;
  font-size: 0.6em;
  vertical-align: top;
}
section.contenu .temperature h2 span.celcius {
  display: inline-block;
  margin: 10px 0 0 15px;
  color: #3d414c;
  font-size: 0.3em;
  vertical-align: top;
}
section.contenu .description {
  margin-bottom: 10px;
}
section.contenu ul {
  padding: 5px;
  margin-bottom: 70px;
}
section.contenu ul li {
  display: block;
  float: left;
  margin-right: 30px;
  color: #3d414c;
  font-size: 2em;
}
section.contenu ul li:last-child {
  margin-right: 0;
}
section.contenu ul li span {
  padding-left: 10px;
  color: #eee;
  font-size: 0.6em;
  line-height: 30px;
  vertical-align: top;
}
section.contenu .bullets {
  height: 70px;
  color: #3d414c;
  text-align: center;
}
section.contenu .bullets span {
  margin-right: 10px;
  font-size: 0.6em;
  cursor: pointer;
}
section.contenu .bullets span.active {
  color: #eee;
  font-size: 0.8em;
}
section.contenu a {
  color: #60646e;
  font-size: 1.2em;
  text-decoration: none;
  transition: color 0.5s;
}
section.contenu a:hover {
  color: #eee;
}
